@import "tailwindcss";

:root {
  --terminal: #0D1117;
  --surface: #161B22;
  --accent: #00FF88;
  --dim: #8B949E;
}

body {
  background-color: #0D1117;
  color: #C9D1D9;
  font-family: 'Courier New', monospace;
}